{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/gif" href="{% static 'images/profile.png' %}" />
    <title>{{ item.scientific_name}}</title>
    <link rel="stylesheet" href="{% static 'style/Bootstrap/css/bootstrap.min.css' %}">

   <style>
    @page {
        size: letter;
        margin: 2cm;

        @frame footer_frame {
            /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt;
            width: 512pt;
            top: 760pt;
            height: 50px;
        }

        table {
            -pdf-keep-with-next: true;
        }
    }

    ul {
        list-style-type: none;
    }

    ul li span {
        font-weight: bold;
    }
</style>
